<!DOCTYPE html>
<html>
  <head>
    <title>
      Inicio | VePay Documentación
    </title>
    {% include meta.html %}
    {% include components/stylesheet.html %}    
  </head>
  <body class="body-purple">
    <div class="page-wrapper"> 
        <header id="header" class="header">
          <div class="container">
              <div class="branding">
                  <h1 class="logo">
                      <a href="index.html">
                          <span aria-hidden="true" class="icon_documents_alt icon"></span>
                          <span class="text-highlight">{{site.name}}</span><span class="text-bold">Docs</span>
                      </a>
                  </h1>
              </div>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
                  <li class="breadcrumb-item active">FAQs</li>
              </ol>
          </div>
      </header>       
      {{ content }}
    </div>    
    {% include footer.html %}    
    {% include components/scripts.html %}
  </body>
</html>