---
layout: theme/default
---

<section class="cards-section text-center">
  <div class="container">
      <h2 class="title">VePay es facil!</h2>
      <div class="intro">
          <p>Bienvenido a la documentación de VePayDocs.</p>
      </div>
      <div id="cards-wrapper" class="cards-wrapper row">
          <div class="item item-purple col-lg-4 col-6">
              <div class="item-inner">
                  <div class="icon-holder">
                      <span aria-hidden="true" class="icon icon_lifesaver"></span>
                  </div>
                  <h3 class="title">FAQs</h3>
                  <p class="intro">Preguntas frecuentes</p>
                  <a class="link" href="{{ site.baseurl }}/faq"><span></span></a>
              </div>
          </div>
          <div class="item item-primary col-lg-4 col-6">
              <div class="item-inner">
                  <div class="icon-holder">
                      <span aria-hidden="true" class="icon icon_genius"></span>
                  </div>
                  <h3 class="title">Nosotros</h3>
                  <p class="intro">Que somos y que hacemos</p>
                  <a class="link" href=""><span></span></a>
              </div>
          </div>
          <div class="item item-orange col-lg-4 col-6">
              <div class="item-inner">
                  <div class="icon-holder">
                      <span aria-hidden="true" class="icon icon_gift"></span>
                  </div>
                  <h3 class="title">Licencia &amp; Créditos</h3>
                  <p class="intro">Licencia de uso y créditos a desarrolladores.</p>
                  <a class="link" href=""><span></span></a>
              </div>
          </div>
      </div>
  </div>
</section>